<!doctype html>
<html>
  <head>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
  </head>
  <body>
    
<div id="app">
  <header>
    澳門圖書館
  </header>
  <ul>
    <li class="region" v-for="(list, area) in libraries">
      <h2>{{area}}</h2>
      <ul>
        <li class="lib-item" v-for="library in list">
          <img src="http://via.placeholder.com/100x100" alt="">
          {{library.name}}
          <p>{{library.open_hour}}</p>
        </li>
      </ul>
    </li>
  </ul>
  <footer>
    Footer here
  </footer>
  
</div>
    <script src="./app.js"></script>
  </body>
